<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <img src="{{ url_for('static', filename='favicon.ico') }}" alt="EcoDrive AUTO" style="height:50px;">
    <title>EcoDrive Auto Поиск</title>
    <link rel="icon" href="{{ url_for('static', filename='eco.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подгружаем стили CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form id="searchForm" method="get" action="/">
        <input type="text" name="q" placeholder="Введите модель авто" id="searchInput" value="{{ query }}">
        <button class="green-btn" type="submit">Поиск</button>
    </form>
    <img src="{{ url_for('static', filename='Lixiang.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Lixiang L6')">Li L6</button>
    <button onclick="quickSearch('Lixiang L7')">Li L7</button>
    <button onclick="quickSearch('Lixiang L9')">Li L9</button><br>
    <hr>
    <img src="{{ url_for('static', filename='Xiaomi.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Xiaomi SU7')">Xi SU7</button>
    <button onclick="quickSearch('Xiaomi YU7')">Xi YU7</button><br>
    <hr>
    <img src="{{ url_for('static', filename='Avatr.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Avatr 07')">Avatr 07</button><br>
    <hr>
    <img src="{{ url_for('static', filename='Leopard.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Leopard 3')">Leo 3</button>
    <button onclick="quickSearch('Leopard 5')">Leo 5</button>
    <button onclick="quickSearch('Leopard 8')">Leo 8</button><br>
    <hr>
    <img src="{{ url_for('static', filename='Luxeed.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Luxeed R7')">Luxeed R7</button><br>
    <hr>
    <img src="{{ url_for('static', filename='Aito.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('AITO M5')">AITO M5</button>
    <button onclick="quickSearch('AITO M8')">AITO M8</button><br>
    <hr>
    <img src="{{ url_for('static', filename='Denza.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Denza N7')">Denza N7</button>
    <button onclick="quickSearch('Denza N9')">Denza N9</button>
    <button onclick="quickSearch('Denza Z9GT')">Denza Z9GT</button>
    <button onclick="quickSearch('Denza Z9')">Denza Z9</button>
    <button onclick="quickSearch('Denza D9')">Denza D9</button><br>
    <hr>
    <img src="{{ url_for('static', filename='BYD.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Sea Lion 05')">Sea Lion 05</button>
    <button onclick="quickSearch('Sea Lion 06')">Sea Lion 06</button>
    <button onclick="quickSearch('Sea Lion 07')">Sea Lion 07</button>
    <button onclick="quickSearch('Song Plus')">Song Plus</button>
    <button onclick="quickSearch('Song Pro')">Song Pro</button>
    <button onclick="quickSearch('Song L')">Song L</button>
    <button onclick="quickSearch('Han')">Han</button>
    <button onclick="quickSearch('Han L')">Han L</button>
    <button onclick="quickSearch('Tang L')">Tang L</button>
    <button onclick="quickSearch('Qin Plus')">Qin Plus</button>
    <button onclick="quickSearch('Dolphin')">Dolphin</button>
    <button onclick="quickSearch('Seagull')">Seagull</button>
    <button onclick="quickSearch('Summer')">Summer</button>
    <button onclick="quickSearch('Yuan Up')">Yuan Up</button><br>
    <hr>
    <img src="{{ url_for('static', filename='Geely.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Starship 7')">Starship 7</button>
    <button onclick="quickSearch('Galaxy E5')">E5</button><br>
    <hr>
    <img src="{{ url_for('static', filename='Radar.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Radar RD5')">Radar RD5</button><br>
    <hr>
    <img src="{{ url_for('static', filename='Lynk.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Lynk&Co 900')">900</button><br>
    <hr>
    <img src="{{ url_for('static', filename='WV.png') }}" alt="Car" style="height:50px;">
    <button onclick="quickSearch('Unyx 06')">Unyx 06</button>

    <!-- Подгружаем файл с используемыми функциями JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% if results is not none %}
        {% if results %}
            <table>
                <thead>
                    <tr>
                        <th>Фото</th>
                        <th>Артикул</th>
                        <th>Модель</th>
                        <th>VIN</th>
                        <th>Статус</th>
                        <th>Склад</th>
                        <th>Ціна наявніть</th>
                        <th>Ціна 20/80</th>
                        <th>Ціна 80/20</th>
                        <th>Дата прибуття</th>
                        <th>Резерв</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in results %}
                        <tr>
                            <td><img src="{{ url_for('static', filename=item[0]) }}" style="height:60px;"></td>
                            <td><a href="{{ item[1]  }}">{{ item[28] }}</a></td>
                            <td>{{ item[3] }}</td>
                            <td onclick="copyText(this)">{{ item[2] }}</td>
                            <td>{{ item[11] }}</td>
                            <td>{{ item[12] }}</td>
                            <td>{{ item[5] }}</td>
                            <td>{{ item[6] }}</td>
                            <td>{{ item[7] }}</td>
                            <td>{{ item[8] }}</td>
                            <td>{{ item[9] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="text-align:center;">Ничего не найдено</p>
        {% endif %}
    {% endif %}
</body>
</html>
